xcompmgr
zsh
xorg-server
xorg-xinit
xorg-xrandr
xorg-xsetroot
firefox
picom
base-devel
github-cli
neovim
man-db
wget
libx11
libxft
libxinerama
networkmanager
btop
feh
pulseaudio
pulseaudio-alsa
pulsemixer
alsa-utils
mpv
nsxiv
mupdf
ranger
unzip
unrar
rsync
neomutt
mpd
ncmpcpp
